HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
ALLOWED_ORIGINS=http://localhost:5050
HTTP_SWAGGER_ENABLED=true
# Необязательные, значения по умолчанию:
# HTTP_READ_HEADER_TIMEOUT=5s
# HTTP_READ_TIMEOUT=15s
# HTTP_WRITE_TIMEOUT=30s
# HTTP_IDLE_TIMEOUT=60s
# HTTP_MAX_BODY_BYTES=1048576

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s
# POSTGRES_SSL_MODE=disable
# Необязательные, по умолчанию берутся значения pgx:
# POSTGRES_MAX_CONNS=10
# POSTGRES_MIN_CONNS=0
# POSTGRES_MAX_CONN_LIFETIME=1h
# POSTGRES_MAX_CONN_IDLE_TIME=30m

LOGGER_LEVEL=DEBUG
# Необязательные, значения по умолчанию:
# LOGGER_FORMAT=console  # console | json
# LOGGER_MAX_SIZE_MB=100
# LOGGER_MAX_BACKUPS=10
# LOGGER_MAX_AGE_DAYS=30

TIME_ZONE=
